.button {
  display: flex;
  justify-content: center;

  border: 2px solid green;
  background-color: #3c3e44;
  font-family: var(--font-family);
  font-size: 18px;
  text-align: center;
  color: #eee;
  margin: 10px;

  border-radius: 10px;
}

.button:active {
  background: green;
}

.button:disabled {
  display: none;
}
